{% extends "home_page.html" %} 
{% load tyre_tracking_extras %} 
				{% block page_title %} Transfers home  {% endblock %} 
				
			  {% block nav_bar %}
			  <li><a href="/">Home</a></li>
              <li class="active"><a href="/transfer/">Transfers</a></li>
              <li><a href="/history/">History</a></li>
			  <li><a href="/report/">Reports</a></li> 
			  {% endblock %}
  
		{% block main_content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page-header">
        <h1>Transfers</h1>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span3">		  
		  <img src="/static/images/440x200.gif" alt="placeholder" class="pull-right thumbnail" />
		  <p>tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem .... </p>
        </div> 
		
		<div class="span9"> 
		   <ul class="nav nav-tabs"> 
		    <li class="active"> <a href="#effect-transfer" data-toggle="tab"> Effect transfer </a></li>
			<li> <a href="#most-recent" data-toggle="tab"> Most Recent </a></li>
						<!-- <li> <a href="#transfer-history" data-toggle="tab"> History </a></li> --> 
		   </ul> 
		   
		   <div class="tab-content"> 		  
			  <div class="tab-pane active" id="effect-transfer">
				  <h4>Transfer form</h4> <hr /> 						
						{% if formset.errors %} 
							<div class="alert alert-error"> Please correct the form error{{ formset.errors|pluralize }} below: </div> 
						{% endif %} 
						<form class="well" action="" method="POST" name="transfer_form"> {% csrf_token %}
						{{ formset.management_form }}
							{% for form in formset %}
							<table> {{ form.as_table }} </table>
						{% endfor %} 
						<br /> <button type="submit" class="btn"> :: Submit :: </button>
						</form>  
		      </div> 
			  
			  <span class="tab-pane" id="most-recent"> 
			  <h4> Transfer Summary </h4> 
			  {% if transfers %} 
			  <table class="table table-striped table-bordered"> 
				<thead> 			 
					<tr> 
						<th> DATE </th> <th> TYRE </th> <th> TRANSFER BY </th> <th> VEHICLE FROM </th> <th> VEHICLE TO </th> <th> NEW POSITION </th> <th> TYRE STATE </th>
					</tr> 
				</thead>
				<tbody> 
					{% for transfer in transfers %} 
					<tr> 
						<td> {{ transfer.transfer_date|date:"F j, Y" }} </td> <td> {{ transfer.tyre }} </td> <td> {{ transfer.agent.get_full_name }} </td> 
						<td> {{ transfer.vehicle_from }} </td> <td> {{ transfer.vehicle_to }} </td> <td> {{ transfer.new_position|tyre_position }} </td> <td> {{ transfer.tyre_state|tyre_status }} </td> 
					</tr> 
					{% endfor %} 
				</tbody>
			  </table> 
			  {% else %} 
			  <div class="alert alert-info" > <p> There are no transfers effected yet! </p> </div>
			  {% endif %}
			  </span>
				  
		  </div> <!-- End tab contents --> 
		  
        </div>
      </div>
	  
		{% endblock %} 
